@{
    ViewBag.Title = "Home Page";
}
@section Scripts {

    <script src="~/Scripts/index.js"></script>

}
<div ng-controller="manageCtrl">
    <div class="tab-pane active col-md-3">
            <label>Search Segments </label>
            <input class="input-xlarge" style="margin-bottom: 10px; height: 28px;" type="text" value="">
            <br>
            <div class="form-inline">
                <label class="checkbox"><input type="checkbox"> <b>Advanced Search</b></label>
            </div>
            <div class="tab-pane control-group" style="display: block;">
                <label>Content Classification</label>
                <select class="input-xlarge">
                    <option>All</option>
                    <option>ACME Secteur Financier FR</option>
                    <option>ACME Service Summary</option>
                    <option>Corporate Organization</option>
                    <option>Corporate Profile</option>
                </select>
                <label>
                    Document Type
                    <select class="input-xlarge">
                        <option value="0">All</option>
                        <option value="5557">Technical Proposal</option>
                        <option value="5559">Financial Proposal</option>
                        <option value="6018">Resume</option>
                    </select>
                </label>
                <label class="checkbox"><input type="checkbox" value="true"> Show Only Drafts</label>
                <label class="checkbox"><input type="checkbox" value="true"> View Segments with Missing Taxonomies</label>
            </div>
            <a class="btn" style="float: right; margin: 8px 8px 0 0;"> Search</a>
            <a class="btn" style="float: right; margin: 8px 8px 0 0;"> Reset</a>
    </div>
    <div class="col-md-9">

      Your content here!
        


    </div>

</div>
